[Unit]
Description=Lorcana Card Browser
After=network.target

[Service]
Type=simple
User=rohmce
WorkingDirectory=/home/rohmce
Environment="PORT=8085"
ExecStart=/home/rohmce/myenv/bin/gunicorn --workers 2 --bind 0.0.0.0:8085 app:app
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
